:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  --bgc_dark: rgb(17, 17, 29);
  --bgc_light: white;
  --primary_color: orange;
  --secondary_color: skyblue;
  --color_dark: white;
  --color_light: rgb(17, 17, 29);  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* ma partie pour le style la page services */
.espace-nav {
  height: 4cm;
}



/* ta partie pour le style  la page services */