* {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  --bgc_dark: rgb(17, 17, 29);
  --bgc_light: white;
  --primary_color: orange;
  --secondary_color: skyblue;
  --color_dark: white;
  --color_light: rgb(17, 17, 29);  
  --white : rgb(228, 228, 228);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* ma partie pour le style de page services */
.espace-nav {
  height: 4cm;
}
.titre-service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--primary_color);
}
.cote-gauche {
  background: linear-gradient(90deg, transparent, var(--primary_color) 80%);
  width: 10rem;
  height: 0.5rem;
}
.cote-droite {
  background: linear-gradient(90deg, var(--primary_color) 40%, transparent);
  width: 10rem;
  height: 0.5rem;
}
.btn-formation {
  border-bottom : 2px ridge var(--bgc_dark);
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn-f {
  height: 2.5rem;
  width: 14.5rem;
  border : 2px groove var(--bgc_dark);
  border-radius: 10px;
  background-color: transparent;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1.5px;
  word-spacing: 5px;
  transition: all 0.2s linear;
}
.actif-formation {
  color: var(--secondary_color);
  border: 1px solid var(--secondary_color);
}
.btn-f:hover {
  color: var(--secondary_color);
  border: 1px solid var(--secondary_color);
}
@keyframes hoverFormation {
  to{
    color: var(--secondary_color);
    border: 1px solid var(--secondary_color);
  }
}
.ligne-verticale {
  background-color: black;
  border-left : 2px ridge var(--bgc_dark);
  height: 2.5rem;
}

/* Formation Initiale */
.parent-initiale-modulaire {
  position: relative;
  padding: 20px 0;
}
.formation-initiale {
  width: 100vw;
  position: absolute;
  padding-bottom: 2rem;
}
.lettre {
  text-align: center;
  color: var(--white);
  font-size: 1.2rem;
}
.sous-titre-services {
  text-align: center;
  color: var(--secondary_color);
}
.formation-modulaire {
  position: absolute;
  display: none;
  width: 100vw;
  padding-bottom: 4rem;
  h3 {
    text-align: center;
    color: rgb(228, 228, 228);
  }
}
/* BOX FORMATION */
.parent-box-formation {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.parent-style-box {
  position: absolute;
  width: 100%;
  display: flex;
  top: 0;
  justify-content: center;
}
.style-box {
  background-color: var(--primary_color);
  height: 0.25rem;
  width: 100%;
  animation: left-right 0.3s linear;
  display: none;
}
.box-formation {
  background-color: hsl(240, 26%, 21%);
  width: 20em;
  height: 26rem;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s linear;
  position: relative;
}
.box-formation:hover {
  box-shadow: 0px 0px 10px var(--primary_color);
  border: 1px solid var(--primary_color);
  transform: translateY(-10px);
  .style-box {
    display: block;
  }
}
.titre-formation {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.74);
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-wrap: anywhere ;
}
.icone-box {
  margin-left: 25px;
  i{
    color:var(--primary_color);
    font-size: 35px;
  }
}
.titre-f {
  margin-right: 25px;
  p{
    color: var(--primary_color);
    color: var(--white);
    font-weight:500;
    text-align: start;
    font-size: 19px;
  }
}
.image-formation {
  background-color: blue;
  width: 100%;
  height: 11rem;
  overflow: hidden;
  img{
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s linear;
  }
}

.description-formation {
  /* background-color: blue; */
  padding: 5px 15px;
}
.savoir-plus {
  button {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    font-size: 22px;
    font-weight: bold;
    border: none;
    background-color:var(--primary_color);
    color: black;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  button:hover {
    background-color: black;
    color: var(--primary_color);
  }
  i{
    font-size: 25px;
    color: rgb(15, 15, 150);
    background-color: var(--primary_color);
    border: none;
    border-radius: 50%;
  }
}
/* BUREAUTIQUE */
.bureautique {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* ANIMATION */

.description-bureautique {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.cont-image-bureautique {
  display: flex;
  position: relative;
}
.image-bureautique {
  background-color: var(--secondary_color);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  min-width: 27rem;
  max-width: 27rem;
  height: 22rem;
  transition: all 0.5s linear;
  img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
  }
}
.image-bureautique:nth-child(2),.image-bureautique:nth-child(3) {
  display: none;
}
.module-haut {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%);
  background: linear-gradient(90deg , rgb(42, 42, 65) 20%,transparent);
  width: 36rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
}
.module-bas {
  clip-path: polygon(6% 0, 100% 0%, 100% 100%, 0% 100%);
  background: linear-gradient(90deg , rgb(42, 42, 65) 20%,transparent);
  width: 36rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
}
.word {
  position: relative;
  right: 3.2rem;
}
.internet {
  position: relative;
  right: 3.2rem;
}
.logo-bureautique {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #1565c0;
    padding-right: 1.2rem;
    border-right: 5px solid #1565c0;
  }
}
#excel {
  border-right : 5px solid #4caf50;
}
.excel {
  h1 {
    color: #4caf50;
  }
}
#powerpoint {
  color: #ff5722;
  border-right: 5px solid #ff5722;
}
.logo-bureautique img {
  width: 45px;
  padding: 5px;
  margin-left: 40px;
  /* box-shadow: 0 0 10px black; */
  /* border-radius: 50%; */
}
.module-description {
  p {
    color: rgb(230, 230, 230);
    margin-left: 1rem;
  }
}

#internet {
  color: #7acefa;
  border-right: 5px solid #7acefa;
}
/* ANIMATION */
@keyframes left-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* ta partie pour le style  la page services */