* {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;  
  --bgc_dark: rgb(17, 17, 29);
  --bgc_light: white;
  --primary_color: orange;
  --secondary_color: skyblue;
  --color_dark: white;
  --color_light: rgb(17, 17, 29);  
  --white : rgb(228, 228, 228);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

/* ma partie pour le style la page services */
.espace-nav {
  height: 4cm;
}
.titre-service {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--primary_color);
}
.cote-gauche {
  background: linear-gradient(90deg, transparent, var(--primary_color) 80%);
  width: 10rem;
  height: 0.5rem;
}
.cote-droite {
  background: linear-gradient(90deg, var(--primary_color) 40%, transparent);
  width: 10rem;
  height: 0.5rem;
}
.btn-formation {
  border-bottom : 2px ridge var(--bgc_dark);
  width: 100vw;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.btn-f {
  height: 2.5rem;
  width: 14.5rem;
  border : 2px groove var(--bgc_dark);
  border-radius: 10px;
  background-color: transparent;
  color: var(--white);
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1.5px;
  word-spacing: 5px;
  transition: all 0.2s linear;
}
.actif-formation {
  color: var(--secondary_color);
  border: 1px solid var(--secondary_color);
}
.btn-f:hover {
  color: var(--secondary_color);
  border: 1px solid var(--secondary_color);
}
@keyframes hoverFormation {
  to{
    color: var(--secondary_color);
    border: 1px solid var(--secondary_color);
  }
}
.ligne-verticale {
  background-color: black;
  border-left : 2px ridge var(--bgc_dark);

  /* width: 0.2rem; */
  height: 2.5rem;
}

/* Formation Initiale */
.parent-initiale-modulaire {
  position: relative;
}
.formation-initiale {
  width: 100vw;
  position: absolute;
  p{
    text-align: center;
    color: var(--white);
    font-size: 1.2rem
;}
}
.sous-titre-services {
  text-align: center;
  color: var(--secondary_color);
}
.formation-modulaire {
  position: absolute;
  display: none;
  width: 100vw;
  h3 {
    text-align: center;
    color: rgb(228, 228, 228);
  }
}
/* BOX FORMATION */
.parent-box-formation {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.box-formation {
  background-color: hsl(240, 26%, 21%);
  width: 20em;
  height: 25rem;
  border-radius: 20px;
}


/* ta partie pour le style  la page services */