:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bgc_dark: rgb(17, 17, 29);
  --bgc_light: white;
  --primary_color: orange;
  --secondary_color: skyblue;
  --color_dark: white;
  --color_light: rgb(17, 17, 29);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bgc_light);
  color: var(--color_light);
}