:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --bgc_dark: rgb(17, 17, 29);
  --bgc_light: white;
  --primary_color: orange;
  --secondary_color: skyblue;
  --color_dark: white;
  --color_light: rgb(17, 17, 29);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bgc_dark);
  color: var(--color_dark);
}
h1{
  font-size: 2.5rem;
  color: var(--primary_color);
}
.cadre0{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 10cm;
  width: 10cm;
  background-color: var(--color_dark);
  justify-content: space-around;
  align-items: center;
  border-radius: 15px;
  position: absolute;
}
.cadre1{
  width: 100%;
  height: 100%;
  background-color: var(--secondary_color);
  border-radius: 15px;
  transform: rotate(30deg);
}
.cadre2{
  width: 100%;
  height: 100%;
  background-color: var(--primary_color);
  border-radius: 15px;
  transform: rotate(30deg);
}